<!DOCTYPE HTML>
<!-- これはiPhone6のサイズに合わせています -->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">
    <script>
        ons.bootstrap()
            .controller('AppController', function($scope)
            {
                this.load = function(page)
                {
                    $scope.splitter.content.load(page);
                    $scope.splitter.left.close();
                };
                this.toggle = function()
                {
                    $scope.splitter.left.toggle();
                };
            });
        ons.ready(function()
        {
            console.log("Onsen UI is ready!");
        });
    </script>
</head>

<body>
    <ons-splitter ng-controller="AppController as app" var="splitter">
        <ons-splitter-side side="left" width="220px" collapse swipeable var="myNavigator">
            <ons-page>
                <ons-list>
                    <ons-list-item>
                    <img src="enpitsu.png" width="12%" height="55%" style="position:absolute;left:190px;top:15px">
                    <img src="logo.png" width="190px" height="60px" style="position:relative;left:-10px">    
                    </ons-list-item>
                <font　size="10">
                    <ons-list-item ng-click="app.load('home.html')" tappable> <ons-icon icon="ion-ios-home-outline"></ons-icon>　ホーム</ons-list-item>
                    <ons-list-item ng-click="app.load('sell.html')" tappable> <ons-icon icon="ion-compose"></ons-icon>　出品したノート </ons-list-item>
                    <ons-list-item ng-click="app.load('buy.html')" tappable><ons-icon icon="ion-clipboard"></ons-icon>　購入したノート </ons-list-item>
                    </font>
                </ons-list>
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content page="home.html"></ons-splitter-content>
    </ons-splitter>
</body>

</html>